[submodule "projects/thebeambook/upstream"]
	path = projects/thebeambook/upstream
	url = https://github.com/happi/theBeamBook.git
	shallow = true
[submodule "projects/pypy/upstream"]
	path = projects/pypy/upstream
	url = https://github.com/pypy/pypy.git
	shallow = true
[submodule "projects/fp-lean/upstream"]
	path = projects/fp-lean/upstream
	url = https://github.com/leanprover/fp-lean.git
	shallow = true
[submodule "projects/napkin/upstream"]
	path = projects/napkin/upstream
	url = https://github.com/vEnhance/napkin.git
[submodule "projects/tpil/upstream"]
	path = projects/tpil/upstream
	url = https://github.com/leanprover/theorem_proving_in_lean4.git
	shallow = true
[submodule "projects/mil/upstream"]
	path = projects/mil/upstream
	url = https://github.com/avigad/mathematics_in_lean_source.git
	shallow = true
[submodule "projects/peps/upstream"]
	path = projects/peps/upstream
	url = https://github.com/python/peps.git
	shallow = true
[submodule "projects/devguide/upstream"]
	path = projects/devguide/upstream
	url = https://github.com/python/devguide.git
[submodule "projects/rust-forge/upstream"]
	path = projects/rust-forge/upstream
	url = https://github.com/rust-lang/rust-forge.git
[submodule "projects/chisel-book/upstream"]
	path = projects/chisel-book/upstream
	url = https://github.com/schoeberl/chisel-book.git
[submodule "projects/learn-fpga/upstream"]
	path = projects/learn-fpga/upstream
	url = https://github.com/BrunoLevy/learn-fpga.git
[submodule "projects/zero-to-nix/upstream"]
	path = projects/zero-to-nix/upstream
	url = https://github.com/DeterminateSystems/zero-to-nix.git
	shallow = true
[submodule "projects/nix-dev/upstream"]
	path = projects/nix-dev/upstream
	url = https://github.com/NixOS/nix.dev.git
	shallow = true
[submodule "projects/rustc-dev-guide/upstream"]
	path = projects/rustc-dev-guide/upstream
	url = https://github.com/rust-lang/rustc-dev-guide
[submodule "projects/component-docs/upstream"]
	path = projects/component-docs/upstream
	url = https://github.com/bytecodealliance/component-docs
[submodule "projects/putting-the-you-in-cpu/upstream"]
	path = projects/putting-the-you-in-cpu/upstream
	url = https://github.com/hackclub/putting-the-you-in-cpu.git
[submodule "projects/hott/upstream"]
	path = projects/hott/upstream
	url = https://github.com/HoTT/book.git
[submodule "projects/webgpufundamentals/upstream"]
	path = projects/webgpufundamentals/upstream
	url = https://github.com/webgpu/webgpufundamentals.git
[submodule "projects/raytracing/upstream"]
	path = projects/raytracing/upstream
	url = https://github.com/RayTracing/raytracing.github.io.git
	branch = release
